= simple_form_for :comment, url: post_comments_path(post), html: { class: 'new-comment-form' }, remote: true do |f|
  = f.input :post_id, as: :hidden, input_html: { value: post.id }
  .form-group
    = f.input :content, label: t('comment.fields.content'), as: :text, input_html: { class: 'form-control', maxlength: 255 }
  .form-group
    = button_tag t('common.close'), class: 'btn btn-default', data: { dismiss: 'modal' }
    = f.submit t('common.create'), class: 'btn btn-warning'