.well
  = simple_form_for user, url: user_path(user.uid) do |f|
    .form-group
      = f.input :email, as: :email, required: true, input_html: { class: 'form-control' }
    .form-group
      = f.input :first_name, input_html: { class: 'form-control' }
    .form-group
      = f.input :last_name, input_html: { class: 'form-control' }
    = f.submit 'Update', class: 'btn btn-warning'