.pagination-container
  = paginate users

.well
  %table.table
    %thead
      %td= t('user.header.id')
      %td= t('user.header.uid')
      %td= t('user.header.first_name')
      %td= t('user.header.last_name')
      %td= t('user.header.email')
      %td= t('user.header.role')
      %td= t('user.header.actions')
    - users.each do |user|
      %tr
        %td= user.id
        %td= user.uid
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= t("user.roles.#{user.role}")
        %td
          = edit_user_link(user)
          = destroy_user_link(user)
