.pagination-container
  = paginate posts

.well
  %table.table
    %thead
      %td= t('post.header.author')
      %td= t('post.header.title')
      %td= t('post.header.actions')
    - posts.each do |post|
      %tr
        %td= post.full_name
        %td= truncate(post.title, length: 50)
        %td
          = post_link(post)
          = edit_post_link(post)
          = destroy_post_link(post)
