.header
  %h2=post.title
#post.well
  .post-content= post.content
  %div.post-controls
    = new_comment_link
    = edit_post_link(post)
    = destroy_post_link(post)
    %span.author
      = post.full_name

#comments{ data: { comments_url: post_comments_path(post) } }
  #spinner-container
    .large.spinner