.header
  %h2=post.title
#post.well
  .post-content= post.content
  %div.post-controls
    = new_comment_link
    = edit_post_link(post)
    = destroy_post_link(post)
    %span.author
      = post.author_full_name_with_email

#comments{ data: { comments_url: post_comments_path(post) } }
  #spinner-container
    .large.spinner

#comments-load-error
  %span
    = t('comment.error.load')
    %button.reload-comments.btn.btn-info
      = t('comment.button.reload')